.modal-slot {
  .update-progress {
    display: flex;
  }

  .update__progress {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  .progress__title {
    margin-right: 10px;
    white-space: nowrap;
  }

  .progress__bar {
    width: 0;
    flex-grow: 1;
  }

  .can-not-available {
    padding: 20px;
    text-align: center;
  }
}