.modal-slot {
  .update__progress {
    margin-top: 8px;
    display: grid;
    gap: 6px;
  }

  .progress__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .progress__bar {
    width: 100%;
  }

  .can-not-available {
    padding: 20px;
    text-align: center;
  }
}