.app {
  --tool-page-header-inset: 24px;
}

@media (max-height: 650px) {
  .app { --tool-page-header-inset: 20px; }
}

/* 用于设置 electron 可拖拽区域 */
.app-region-drag {
  app-region: drag;
  -webkit-app-region: drag;
}

.app-region-no-drag {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}
